@media (max-width: 750px) {



  .about-us-bg .main_50-right {
    margin-left: 0;
  }
/* Subscribe page */
/* .main-bg-subs::before {
  width: 100%;
  height: 45%;
  min-height: 20%;
  background-size: cover;
  background-position: center;
  top: 0;
} */
  .main-bg-subs .main_header,
  .about-us-bg .main_header {
    flex: 0 0 45%;
}

.main-about {
  margin-left: 0;
}

/* .about-us-bg::before {
  width: 100%;
  height: 45%;
  min-height: 0;
  top: 0;
  background-size: cover;
} */
}


@media (max-width: 440px){

  .main-sign-up {
    margin: 0 auto;
  }
  /* .main-bg-subs .header,
  .about-us-bg .header,
  .main-bg-contact .header {
    flex: 0 0 50%;
    background-color: blue;
} */
  /* .main-bg-subs::before,
  .about-us-bg::before,
  .main-bg-contact::before {
    height: 50%;
    min-height: 0;
  } */

  /* .main-bg-contact::before {
    width: 100%;
    top: 0;
  } */
  .contact-us {
    max-width: 100%;
  }
}
