:root {
  --yblack: #2E313C;
  --ygray: #F2F2F2;
  --ydarkgray: #7E959E;
  --ybluegray: #D3E7EF;
  --yyellow: #F9E900;
  --yred: #FF2842;
  --ygreen: #34D39A;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  color: var(--yblack);
  letter-spacing: 1px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
}

.main-body {
  height: 100vh;
  max-height: 100vh;
  background: url('img/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

.content-wrapper {
  max-width: 1192px;
  margin: 0 auto;
}

.btn {
  min-height: 55px;
  padding: 0 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: inherit;
}

.btn_type-1:hover {
  background-color: #fffafa;
}

.btn_type-1:active {
  transform: scale(0.98);
}

.btn_type-1 {
  border: 2px solid var(--yblack);
  background-color: transparent;
}

.btn_arrow {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95237 12.0232H19.7487L15.5022 7.66742C15.1302 7.28608 15.1302 6.66746 15.5022 6.28618C15.8742 5.90461 16.4773 5.90461 16.8488 6.28618L22.721 12.3093C23.093 12.6906 23.093 13.3093 22.721 13.6905L16.8488 19.7139C16.6629 19.9047 16.4192 20 16.1755 20C15.9319 20 15.6882 19.9047 15.5022 19.7139C15.1302 19.3325 15.1302 18.7139 15.5022 18.3327L19.7487 13.9767H1.95237C1.42647 13.9767 1 13.5393 1 12.9999C1 12.4605 1.42641 12.0232 1.95237 12.0232Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat right 49%;
  background-size: 40px 24px;
  padding-right: 45px;
}

.header-navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main-nav {
  z-index: 0;
  flex: 0 0 43.333%;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-nav__item {
  display: block;
  position: relative;
  font-size: 15px;
}

.main-nav__item_active::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 56px);
  height: 1px;
  left: 28px;
  bottom: 27px;
  background-color: var(--yblack);
}

.main-nav__item_active .main-nav__link {
  cursor: default;
}

.main-nav__item:hover {
  background-color: #fff;
}
.main-nav__item_active:hover {
  background-color: rgba(255,255,255, 0.3);
}

.main-nav__link {
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--yblack);
  padding: 21px 30px;
}

.more-nav__list {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 20px 0;
}

.more-nav__link:hover {
  text-decoration: underline;
  background-color: #f2f2f2;
}

.more-nav::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0%;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: 0.2s ease-in-out;
}

.more-active {
  display: block;
}

.more-nav-active::before {
  height: 390px;
}

.more-nav__item {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.more-nav__item:last-of-type {
  margin-bottom: 0;
}
.more-nav__link {
  display: block;
  text-decoration: none;
  color: var(--yblack);
  padding: 20px 25px;
}

.more-nav__btn {
  width: 56px;
  height: 56px;
  border: none;
  background-color: var(--yblack);
  background-repeat: no-repeat;
  background-position: 15px 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.4107 5.68085C22.7054 5.68085 23 5.44149 23 5.10638V3.57447C23 3.28723 22.7054 3 22.4107 3H1.58929C1.24554 3 1 3.28723 1 3.57447V5.10638C1 5.44149 1.24554 5.68085 1.58929 5.68085H22.4107ZM22.4107 13.3404C22.7054 13.3404 23 13.1011 23 12.766V11.234C23 10.9468 22.7054 10.6596 22.4107 10.6596H1.58929C1.24554 10.6596 1 10.9468 1 11.234V12.766C1 13.1011 1.24554 13.3404 1.58929 13.3404H22.4107ZM22.4107 21C22.7054 21 23 20.7606 23 20.4255V18.8936C23 18.6064 22.7054 18.3191 22.4107 18.3191H1.58929C1.24554 18.3191 1 18.6064 1 18.8936V20.4255C1 20.7606 1.24554 21 1.58929 21H22.4107Z' fill='white'/%3E%3C/svg%3E%0A");
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  min-height: 44px;
}

.header-navbar .nav-icons {
  margin-top: 6px;
}

.nav-icons__item {
  width: 24px;
  height: 24px;
  margin-right: 32px;
}

.nav-icons__item:hover {
  opacity: 0.8;
}

.nav-icons__item:last-of-type {
  margin-right:0;
}

.header-navbar__nav {
  flex: 1 1 33.333%;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 75vh;
  max-height: 1210px;
}

.main-content__slogan {
  margin-bottom: 32px;
  text-align: center;
  z-index: -2;
}

.main_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin-top: 48px;
}

.nav-icons_footer::before,
.nav-icons_footer::after {
  content: "";
  display: block;
  margin: 11px 0;
  width: 50px;
  height: 2px;
  background-color: var(--yblack);
}

  .nav-icons_footer::before {
    margin-right: 32px;
  }

  .nav-icons_footer::after {
    margin-left: 32px;
  }

.footer__copywright {
  margin: 24px 0;
  font-weight: bold;
  text-align: center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.nav-icons__search-block {
  min-width:0;
  width: 250px;
  height: 44px;
  box-sizing: border-box;

  margin-right: -35px;
  padding: 0 35px 0 20px;

  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 0 0 0 1pt var(--ygray) inset;
}

.seach-input {
  display: none;
}

.search-open {
  display: block;
}

.nav-icons__search-block:focus {
  outline: none;

}

@media (max-width: 1292px) {
  .content-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (max-width: 910px) {
  .content-wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }


  .nav-icons__search-block {
    position: absolute;
    right: 136px;
    top: 40px;
  }

  .content-wrapper {
    margin-left: 20px;
    margin-right: 20px;
}
}

@media (max-width: 693px) {
.main-nav__list {
display: none;
}

.nav-icons__search-block {
  position: unset;
}
}

@media (max-width: 615px) {
  .main-body {
    background: url('img/background-mb.png');
    background-position: 50% 50%;
    background-size: 100% 120%;
    background-attachment: initial;
  }

  .main-content {
    height: 78vh;
    max-height: 630px;
}
  .more-nav__btn {
    margin-left: -20px;
  }
}

@media (max-width: 440px){
  .nav-icons {
    position: unset;
  }
  .nav-icons__search-block {
    position: absolute;
    right: calc(50vw - 90px);
    top: 70px;
    z-index: 100;
    min-height: 55px;
    font-size: 16px;
  }
  .seach-input::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #a9a9a97a;
    z-index: 0;
  }
}

@media (max-width: 345px) {
  .content-wrapper,
  .more-nav__btn  {
    margin-left: 0;
    margin-right: 0;
  }

  .main-content {
    height: 73vh;
    margin-left: 5px;
    margin-right: 5px;
}
.main-body {
  background-position: 50% 65%;
}

}
